*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image:url("https://wallpapercave.com/wp/wp4748435.jpg");
    background-size: cover;
}
.wrap{
    margin:4rem; 
    color:rgb(255, 0, 0);
    width: 90%;
    margin-bottom: auto;

}
.main{
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin:3rem;
    border:0px solid;
    border-radius:25px;
    /* background-color:rgba(182, 154, 209, 0.747); */
    backdrop-filter: blur(2px);
    font-family:Righteous;
}
.selects{
    width:100%;
    height:100%;
    font-size:2rem; 
    background-color:#f7d4fc5b;
    color:rgba(40, 19, 59, 0.747);
    font-family:Righteous;  
}  
option[value=""][disabled]{
    display: none;
}
option{
    font-size:1.2rem;
    color:rgb(76, 21, 90);
}

.questions-quantity{
    width:100%;
    height:100%;
    font-size:2rem;
    background-color:rgba(236, 215, 255, 0.747);
    color:rgba(43, 7, 75, 0.747);
    font-family:Righteous;  
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 20%;
}

::-webkit-scrollbar {
    width: 2%;
    background-color: rebeccapurple;
    border-radius: 20%;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(33, 7, 43, 0.73);
}

button {
    background: none;
    color: red;
    width: 180px;
    height:80px;
    border: 3px solid pink;
    font-size: 2rem;
    border-radius: 10px;
    transition: .6s;
    overflow: hidden;
    font-family:Luckiest Guy;
    margin:0 auto;
   }
   button:focus{
    outline:none;
    }
   
   button:hover {
       background: white;
    cursor:pointer;
    transform : scale(1.3);
    }
   
   button:hover:before {
      transform: translateX(300px) skewX(-15deg);
       opacity: .6;
       transition: .7s;
   }
   
   button:hover:after {
      transform: translateX(300px) skewX(-15deg);
       opacity: 1;
       transition: .7s;
   }

/* FOOTER */
.header{
    width:100%;
    backdrop-filter:  blur(2px);
    display: block;
    text-align: center;
}
.item{
    width:100%;
    color:white;
    display: flex;
    text-align: center;
    font-family:  'Brush Script MT', cursive;
    font-size: 1.5rem;
    text-align: center;
}
.item h1{
    margin:0 auto;
    
}
.footer {
	width: 100%;
	backdrop-filter: blur(2px);
	display: block;
    /* position : fixed;
    bottom: 0; */
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
     flex-direction: row;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

@media only screen and (max-width: 768px) {
    .inner-footer{
        flex-direction: column;
    }
	.footer-items {
		width: 100%;

	}

    .main, button, .questions-quantity, .selects, option{
        /* height: 200px; */
        font-size : 20px;
    }
}

.game{
    display:none;
}
